
.edit_btn{
    background-color: azure;
    font-size: 30px;
    /* width: 15%; */
    text-align: center;
    /* padding-top: 8px; */
    border-radius: 10px;
    color: rgb(28, 163, 80);
    transition: 0.2s linear all;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

}
.edit_btn:hover{
    background-color: rgb(28, 163, 80);
    color: azure;
    transform: scale(1.1);
    cursor: pointer;
}
.delete_btn{
    background-color: azure;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    color: rgb(157, 19, 19);
    transition: 0.2s linear all;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
}
.delete_btn:hover{
    background-color: rgb(157, 19, 19);
    color: azure;
    transform: scale(1.1);
    cursor: pointer;
}